[Unit]
Description=Monitoring system and time series database
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
Restart=always
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ PROMETHEUS_BINARY_INSTALL_DIR }}/prometheus \
--config.file={{ PROMETHEUS_CONFIG_DIR }}/prometheus.yml \
--storage.tsdb.path={{ PROMETHEUS_DB_DIR }} \
--storage.tsdb.retention={{ PROMETHEUS_STORAGE_RETENTION }} \
--web.console.templates={{ PROMETHEUS_CONFIG_DIR }}/consoles \
--web.console.libraries={{ PROMETHEUS_CONFIG_DIR }}/console_libraries

SyslogIdentifier=prometheus
CapabilityBoundingSet=CAP_SET_UID
LimitNOFILE=65000
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true
TimeoutStopSec={{ PROMETHEUS_STOP_TIMEOUT }}

[Install]
WantedBy=multi-user.target
